*.bak
*.rpt
*.done
*.summary
*.pin
*.pof
*.sof
*.jdi
quartus/*tmp*
vhdl/*tmp*
quartus/db/
quartus/incremental_db/
*.smsg
*.qdf
*.bin
*.qip
*.cdf
*.dpf
*.qsf
*.ddb
*.cmp
*.pro.user
*.o
Makefile
imgpacker
